<form action="/todos/<%= todos._id %>?_method=PUT" method="post" class="field">
  <h1>Edit "<%= todos.title %>"</h1>
  <label>Title:</label>
  <input
    type="text"
    name="title"
    value="<%= todos.title %>"
    class="text"
    required
  />

  <br />
  <label>Description:</label>
  <input
    type="text"
    name="description"
    value="<%= todos.description %>"
    class="text"
    required
  />

  <br />
  <label
    >Complete:<input type="checkbox" name="isComplete" class="checkbox" <%=
    todos.isComplete ? "checked" : "" %>/>
  </label>
  <br />
  <button class="edit but-style">Update Todo</button>
</form>
