<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <nav class="user-nav">
      <a href="/user/login"><button>Login</button></a>
      <a href="/user/signup"><button>SignUp</button></a>
      <a href="/user/logout"><button>LogOut</button></a>
    </nav>
    <nav class="list-control">
      <h3>All Todos</h3>
      <a href="/todos/new"><button>+</button></a>
    </nav>
    <div class="content">
      <ul class="list">
        <% for(let i = 0; i < todos.length; i++) { %>
        <div class="card">
          <a href="/todos/<%= todos[i]._id %>"><h2><%= todos[i].title %></h2></a>
          <p class="description"><%= todos[i].description %></p>
          <h3 class="complete">
            <%= todos[i].isComplete ? "Completed" : "Incomplete"%>
          </h3>
          <div class="buttons">
            <a class="edit" href="/todos/<%= todos[i]._id %>/edit"
              ><img
                src="https://www.freeiconspng.com/thumbs/edit-icon-png/edit-new-icon-22.png"
                alt="Edit Button"
            /></a>
            <form action="/todos/<%= todos[i]._id %>/?_method=DELETE" method="post">
              <a class="delete">
                <img
                  src="https://www.freeiconspng.com/thumbs/trash-can-icon/trash-can-icon-3.png"
                  alt="Delete Button"
              />
            </a>
            </form>
          </div>
        </div>
        <% } %>
      </ul>
    </div>
    <footer>
      Adrick-Development &copy; 2024
    </footer>
  </body>
</html>
