<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>Todo List</h1>
    <nav class="nav">
      <h3>All Todos</h3>
      <a href="/todos/new">Add</a>
    </nav>
    <div class="content">
      <ul class="list">
        <% for(let i = 0; i < todos.length; i++) { %>
        <div class="card">
          <a href="/todos/<%= todos[i]._id %>"><h2><%= todos[i].title %></h2></a>
          <p class="description"><%= todos[i].description %></p>
          <h3 class="complete">
            <%= todos[i].isComplete ? "Completed" : "Not Complete"%>
          </h3>
          <div class="buttons">
            <a class="edit" href="/todos/<%= i %>/edit"
              ><img
                src="https://www.freeiconspng.com/thumbs/edit-icon-png/edit-new-icon-22.png"
                alt="Edit Button"
            /></a>
            <form action="/todos/<%= i %>/?_method=DELETE" method="post">
              <a class="delete" href="/todos"
                ><img
                  src="https://www.freeiconspng.com/thumbs/trash-can-icon/trash-can-icon-3.png"
                  alt="Delete Button"
              /></a>
            </form>
          </div>
        </div>
        <% } %>
      </ul>
    </div>
  </body>
</html>
