<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>

    <nav class="list-control">
      <h3>All Todos</h3>
      <button class="but-style add" onclick="addModal.showModal()">Add</button>
      <dialog id="addModal" class="modal">
        <%- include("./new.ejs") %>
        <button class="but-style close" onclick="addModal.close()">
          close
        </button>
      </dialog>
      <a href="/user/logout"><button class="but-style logout">LogOut</button></a>
    </nav>
    <div class="content">
      <ul class="list">
        <% for(let i = 0; i < todos.length; i++) { %>
        <div class="card">
          <a class="todo"
            href="/todos/<%= todos[i]._id %>"
          >
            <h1><%= todos[i].title %></h1>
          </a>
          <p class="description"><%= todos[i].description %></p>
          <h3 class="complete">
            <%= todos[i].isComplete ? "Completed" : "Incomplete"%>
          </h3>
          <div class="buttons">
            <button class="edit-but" onclick="showModal('<%= todos[i]._id %>')">
              <img
                src="https://www.freeiconspng.com/thumbs/edit-icon-png/edit-new-icon-22.png"
                alt="edit-button"
              />
            </button>
            <dialog id="<%= todos[i]._id %>" class="modal">
              <%- include("./edit.ejs", { todos: todos[i] }) %>
              <button
                class="but-style close"
                onclick="closeModal('<%= todos[i]._id %>')"
              >
                close
              </button>
            </dialog>
            <form
              action="/todos/<%= todos[i]._id %>/?_method=DELETE"
              method="post"
            >
              <button class="delete">
                <img
                  src="https://www.freeiconspng.com/thumbs/trash-can-icon/trash-can-icon-3.png"
                  alt="Delete Button"
                />
              </button>
            </form>
          </div>
        </div>
        <% } %>
      </ul>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
